body {
  background: url(/projeto_curso/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#conteiner {
    width: 360px;
    height: 712px;
    margin: auto;
}